h1 {
  color: white;
}

h1{ 
   font-family: "Times New Roman";
}

a{
   font-family: "Times New Roman";
   color: white;
}

h3{
   font-family: "Calibri light";
}

h3{
   color: white;
}

h2{
   font-family: "Calibri";
}

h2{
   color: white;
}


#a_umrandet {
   color: white;
}

details{
   color: white;
}


